@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import 'tailwindcss';

html,body{
  width: 100%;
  margin: 0;
  padding: 0;
}

.sansFont {
  font-family: 'DM Sans', sans-serif;
}

.serviceBtn {
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 4;
  cursor: pointer;
  border-radius: 15px;
  padding: 4px 4px;
  white-space: nowrap;
  text-transform: capitalize;
}

.contactBg {
  background-image: url(./assets//progbiz-img/img-17.png);
  background-repeat:no-repeat;
}